.menu {
    display: flex;
    justify-content: center;
    gap: 1.5cm; 
  }
  
  .card-img {
    width: 8cm;
    height: 8cm;
    margin-top: 4cm; 
  }
  

  .body {
      background-color:  #f1e8d8;
  }
  
  .h-100 {
    background-color: #f1e8d8;
  }

  #all-title{
    color: rgb(158, 16, 16);
  }

  #charac-title{
    color: rgb(158, 16, 16);
  }

  #ve-title{
    color: rgb(158, 16, 16);
  }

  #pla-title{
    color: rgb(158, 16, 16);
  }